<section
	class="content-section {{ form ? 'content-section--form' }} {{ bemModifier ? 'content-section--' ~ bemModifier }} {{ bemMix }}"
	{{ id ? 'id="' ~ id ~ '"' }}
	data-content-section
>
	<div class="content-section__inner container">
		{% if image %}
			<div class="content-section__image">
				{% include 'picture.twig' with { image } %}
			</div>
		{% endif %}

		<div class="content-section__body">
			{{ content }}

			{% if form %}
				{% include 'form.twig' with form|merge({ bemMix: 'content-section__form' }) %}
			{% endif %}
		</div>
	</div>
</section>
